#main {
    min-height: 768px;
    padding: 20px;
}

.tiny_pad {
    padding: 10px;
}

.tiny_top_pad {
    padding-top: 10px;
}

.medium-pad {
    padding: 20px;
}

.tiny_left_pad {
    padding-left: 10px;
}

.folder_header {
    float: left;
}

.folder-del {
    margin-left: 2%;
    font-size: 20px;
    font-weight: bold;
}

.folder_section {
    padding: 10px;
}

.underlined {
    text-decoration: underline;
}

.ext_key {
    font-weight: bold;
}



#log-count {
    font-size: 20px;
}
#purge-button {
    font-weight: bold;
}